@media (min-width: 768px) {
  .restaurant-block-base {
    transition: all 0.25s ease;
  }
  .restaurant-block {
    width: 46%;
    margin: 2%;
  }
  .restaurant-block-shrink {
    width: 46%;
    margin: 2%;
    transition: all 0.5s ease;
  }
  .restaurant-block-grow {
    width: 96%;
    transition: all 0.5s ease;
  }
  
};
@media (max-width: 768px) {
  .restaurant-block {
    width: 96%;
  }
};

.restaurant-block:hover {
  transform: scale(1.05);
}

.edit-btn {
  font-size: 1.25rem;
  border: none;
}