<div class="d-flex flex-column">
  <div class="text-center" *ngIf="loggedInRole() === 'COURIER'">
    <a class="btn edit-btn btn-green btn-md pb-2 rounded-pill" [routerLink]="'deliver-orders'">Deliver orders</a>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-start flex-wrap">
    <app-restaurant-block
      *ngFor="let restaurant of restaurants"[restaurant]="restaurant"
      class="restaurant-block-base"
      [ngClass]='
        clickedRestaurantElement == null ? "restaurant-block" :
        isElementClicked(restaurant.id) ? "restaurant-block-grow" : "restaurant-block-shrink"'
      (click)="clickOnRestaurantBlock($event)"
      [attr.data-restaurantid]="restaurant.id"
      [clicked]='isElementClicked(restaurant.id)'>
    </app-restaurant-block>
  </div>
</div>