<div>
  <div class="custom-card">
    <div class="custom-card-inner d-flex flex-column h-100">
      <div style="position: relative;">
        <div class="custom-card-image-container">
          <img [src]='getRestaurantImageUrl()'
          class="custom-card-image"
          />
        </div>
        <div class="bottomright" *ngIf="isUserRoleOwnerOrAdmin() && isRestaurantSelf()">
          <button type="button" class="btn edit-btn btn-circle btn-orange btn-md pb-2" (click)="onClickEditButton()"><i class="bi bi-pencil-fill"></i></button>
        </div>
        <div class="bottomdeco">
        </div>
      </div>
      <div class="custom-card-body py-2">
        <div>
          <span class="small-caps text-black-50">Restaurant</span>
        </div>
        <p class="fs-5 pt-1 mb-1">  {{restaurant?.name}}</p>
        <p class="text-secondary">{{restaurant?.description}}</p>
        <div>
          <button type="button" class="btn btn-sm btn-circle btn-dark me-2" (click)="onClickShowMapButton()"><i class="bi bi-pin-map-fill"></i></button>
          <span class="text-secondary">{{locationText}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-card my-3">
    <div class="custom-card-inner d-flex flex-column h-100">
      <div class="custom-card-body py-2">
        <div>
          <span class="small-caps text-black-50">Categories</span>
        </div>
        <div class="d-flex align-items-center" style="height: 3rem;">
          <ng-template  [ngIf]="restaurant?.categories && restaurant?.categories!.length > 0" [ngIfElse]="noCategories">
            <drag-scroll [scrollbar-hidden]="true">
              <app-category drag-scroll-item
              *ngFor="let category of restaurant?.categories" [category]="category"
                class="m-1"></app-category>
            </drag-scroll>
          </ng-template>
          <ng-template #noCategories>
              <span><small>No Categories</small></span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-card my-3" *ngIf="popularRestaurantItems && popularRestaurantItems.length > 0">
    <div class="custom-card-inner d-flex flex-column h-100">
      <div class="custom-card-body py-2">
        <div>
          <span class="small-caps text-black-50">Popular Items</span>
        </div>
        <drag-scroll [scrollbar-hidden]="true" class="my-2">
          <app-restaurant-item-block
            drag-scroll-item
            *ngFor="let restaurantItem of popularRestaurantItems"
            [restaurantItem]="restaurantItem"
            class="mx-1"
            style="width: 125px"
            [purchase]="isUserRoleUser() || false"
            ></app-restaurant-item-block>
        </drag-scroll>
      </div>
    </div>
  </div>
  <div class="custom-card my-3">
    <div class="custom-card-inner d-flex flex-column h-100">
      <div class="custom-card-body py-2">
        <div class="text-center" *ngIf="isUserRoleOwnerOrAdmin() && isRestaurantSelf()">
          <button type="button" class="btn edit-btn btn-orange btn-md pb-2 rounded-pill" (click)="onClickCreateItemButton()"><i class="bi bi-plus me-2"></i>Add item</button>
        </div>
        <div>
          <span class="small-caps text-black-50">Items</span>
        </div>
        <ng-template [ngIf]="restaurantItems && restaurantItems.length > 0" [ngIfElse]="noItems">
          <div class="d-flex flex-column">
            <div 
              *ngFor="let restaurantItem of restaurantItems"
              class="my-2 d-flex flex-row">
              <app-restaurant-item-block
                class="flex-grow-1"
                [restaurantItem]="restaurantItem"
                [rowLayout]="true"
                [purchase]="isUserRoleUser() || false"
                [editable]="isUserRoleOwnerOrAdmin() || false"
              ></app-restaurant-item-block>
            </div>
          </div>
        </ng-template>
        <ng-template #noItems>
          <span><small>No Items</small></span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
