.custom-card {
  border-radius: 12px !important;
}
.custom-card-inner {
  border-radius: 12px !important;
}
.custom-card-image-container {
  border-radius: 12px !important;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}
