<div class="d-flex flex-column align-items-center h-100">
  <div class="w-100">
    <a 
    data-testid="back-to-restaurant-link"
    class="nav-link text-dark py-1"
    [routerLink]="['/restaurants/'+restaurant?.id]"
    style="font-size: 0.85rem;">
      <i class="bi bi-arrow-left me-1"></i>
      <span>
        Back to Restaurant ({{restaurant?.name}})
      </span>
    </a>
  </div>
  <div class="custom-card mt-4">
    <div class="custom-card-inner d-flex flex-column h-100 px-4 pb-4 pt-2">
      <div class="text-center small-caps mb-2">
        <span class="fs-1">{{title}}</span>
      </div>
      <div class="custom-card-body">
        <div data-testid="form-registration">
          <form class="card-body" (ngSubmit)="onClickSubmit()" [formGroup]="form">

            <label for="itemName" class="form-label small-caps required">Name</label>
            <input type="text" id="itemName" class="form-control" [class.is-invalid]="itemNameError" formControlName="itemName">
            <div data-testid="itemName-validation" class="invalid-feedback" *ngIf="itemNameError">
              {{itemNameError}}
            </div>

            <label for="description" class="form-label small-caps">Description (Optional)</label>
            <textarea id="description" class="form-control" [class.is-invalid]="descriptionError" formControlName="description"></textarea>
            <div data-testid="description-validation" class="invalid-feedback" *ngIf="descriptionError">
              {{descriptionError}}
            </div>

            <label for="price" class="form-label small-caps required">Price</label>
            <app-price-input [priceFormControl]="$any(form).get('price')" [priceError]="priceError"></app-price-input>
            <div data-testid="price-validation" class="invalid-feedback" *ngIf="priceError">
              {{priceError}}
            </div>
            
            <div class="mb-3">
              <label for="file" class="form-label">Main Image</label>
              <div class="text-center mb-2" [style.display]="uploadedImageURL ? 'block' : 'none'">
                <img class="rounded-3" [src]="uploadedImageURL" width="150px">
              </div>
              <input class="form-control" type="file" accept='.png, .jpg, .jpeg' id="file" (change)="onUploadedImageChange($event)">
            </div>

            <div class="text-center mt-3 w-100">
              <app-button [disabled]="isDisabled()" [apiProgress]="apiProgress">{{buttonText}}</app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>