.bg-navbar {
background-color: #ffffff;
}

.nav-btn-icon {
  font-size: 1.3rem;
}
.nav-btn-text {
  font-size: 1.15rem;
}

@media (max-width: 768px) {
  .nav-button {
    // border-bottom: 1px solid #ccc;
    background-color: none;
    border-radius: 5px;

    text-align: center;
    font-size: larger;
    margin-top: 5px;
    width: 100%;
  }
  .nav-button :hover {
    background-color: rgb(250, 250, 250);
  }
  .nav-button :active {
    background-color: rgb(236, 236, 236);
  }
  .nav-button a i{
    margin-right: 5px;
  }

  .navbar-toggler {
    height: 2em;
  }
  .collapse.collapsing {
    margin-left: 0%;
    right: -20%;
    transition: all 0.2s ease;
    position: fixed;
    height: 100% !important;
}
}
@media (min-width: 768px) {
  .navbar {
    height: 50px;
  }
  .collapse {
    display: block;
  }
  .router-link-active {
    pointer-events: none;
    color:rgb(194, 194, 194) !important;
  }
  .router-link-active-primary {
    pointer-events: none;
    color:rgb(226, 226, 226) !important;
    border: none;
  }
  .btn:focus {
    box-shadow: none;
  }
}