.bg-navbar {
background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav-button {
    // border-bottom: 1px solid #ccc;
    background-color: none;
    border-radius: 5px;

    text-align: center;
    font-size: larger;
    margin-top: 5px;
    width: 100%;
  }
  .nav-button :hover {
    background-color: rgb(250, 250, 250);
  }
  .nav-button :active {
    background-color: rgb(236, 236, 236);
  }
  .nav-button a i{
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 50px;
  }
  .collapse {
    display: block;
  }
  .router-link-active {
    pointer-events: none;
    color:rgb(194, 194, 194) !important;
  }
  .router-link-active-primary {
    pointer-events: none;
    color:rgb(226, 226, 226) !important;
    border: none;
  }
  .btn:focus {
    box-shadow: none;
  }
}