.custom-card {
  height: 100px;
}

.custom-card-image-container {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card-image {
  width: auto;
  height: inherit;
}

// .custom-card-image-container {
//   display: inline-flex;
//   vertical-align: middle;
//   height: 80px;
//   width: 80px;
  
//   // aspect-ratio: 1 / 1;
//   border-radius: 16px;

// }


// .custom-card-image {
//   min-height: 100% !important;
//   min-width: 100% !important;
//   object-fit:cover;

//   width: auto;
//   height: auto;
// }
