@media (min-width: 768px) {
  .toaster {
    position: fixed;
    z-index: 2000;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50px;
  
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .toaster {
    position: fixed;
    z-index: 2000;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column-reverse;
  }
}