<div class="custom-card" style="height: 100px;">
  <div class="custom-card-inner text-center d-flex flex-row h-100 align-items-center justify-content-between">
    <div class="custom-card-image-container"
      style="position: relative; width: 90px; height: 90px;">
      <img [src]='getRestaurantItemImageUrl()'
      class="custom-card-image"
      />
    </div>
    <div class="custom-card-body text-center d-flex flex-row flex-grow-1 justify-content-between px-0" style="font-size: 0.9rem"
      >
      <div class="d-flex flex-column justify-content-center align-items-start border-end flex-grow-1 px-3 px-md-1">
        <div class="h-100 d-flex flex-column align-items-start ps-1" style="height: 3rem;">
          <span class=" text-start fs-6" data-testid="item-name">{{restaurantItem.name}}</span>
        </div>
        <div
          class="mt-2 pb-2 d-flex flex-row align-items-center justify-content-start">
          <div
            class="p-1 d-flex align-items-center justify-content-center border border-dark border-opacity-10 rounded"
            >
              <button type="button" class="btn btn-red p-2 py-1" data-testid="modify-btn-minus"
                (click)="clickOnModifyButton(false)">
                <i class="bi bi-dash-lg" style='font-size:14px;'></i>
              </button>
              <span class="text-dark fs-4 mx-2" data-testid="count">{{cartItem?.count}}</span>
              <button type="button" class="btn btn-red p-2 py-1" data-testid="modify-btn-plus"
                (click)="clickOnModifyButton(true)">
                <i class="bi bi-plus-lg" style='font-size:14px;'></i>
              </button>
          </div>
          <div>
            <span class="text-secondary ms-2 fs-6" data-testid="price">{{cartItem?.price | currency:'USD'}}</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center mx-2">
        <button type="button" class="btn btn-red p-2 py-1" data-testid="delete-btn"
          (click)="clickOnDeleteButton()">
          <i class="bi bi-trash3-fill" style='font-size:14px;'></i>
        </button>
      </div>
    </div>
  </div>
</div>