.bottomright {
  position: absolute;
  bottom: 28px;
  right: 8px;
}
.bottomdeco {
  position: absolute;
  bottom: -2px;
  height: 22px;
  width: 100%;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.store-btn {
  font-size: 1.25rem;
  border: none;
}
